<p id="notice"><%= notice %></p>

<h1>Home</h1>
<%= label_tag  "Select country" %>
<%= select_tag :country, options_for_select(@countries.map{|c| [c.name, c.id] }), include_blank: true, class: 'form-control' %>
<%= label_tag "Select city" %>
<%= select_tag :city, options_for_select(@cities.map{|c| [c.name, c.id] }), include_blank: true, class: 'form-control' %>
<br>

<script>

$(document).on("change", "#country", function(){
  var country = $(this).val();
  $.ajax({
    url: "/homes",
    method: "GET",
    dataType: "json",
    data: {country: country},
    error: function (xhr, status, error) {
      console.error('AJAX Error: ' + status + error);
    },
    success: function (response) {
      console.log(response);
      var cities = response["cities"];
      
      $('#city').empty();
      
      $("#city").append('<option>Select city</option>');
      
      for(var i=0; i<cities.length; i++) {
        $("#city").append('<option value="' + cities[i]["id"] + '">' + cities[i]["name"] + '</option');
      }
    }
  });
});


</script>
